In [72]:
#Summary: This analysis uses County Business Pattern data from the U.S. Census Bureau for five years, from 2022 (the newest data released this summer) through 2018. By merging it with the Rural-Urban Continuum Code, which identifies counties by population on a scale of 1 (urban) to 9 (rural), we can compare the number of retail businesses with 20 or fewer counties by county, county population, and state.

In [73]:
import pandas as pd

In [74]:
#Read csv files for each year and interpret fips as strings

county22_data = pd.read_csv('../data/cbp22co.csv', dtype={'fipstate': str, 'fipscty': str})
county21_data = pd.read_csv('../data/cbp21co.csv', dtype={'fipstate': str, 'fipscty': str})
county20_data = pd.read_csv('../data/cbp20co.csv', dtype={'fipstate': str, 'fipscty': str})
county19_data = pd.read_csv('../data/cbp19co.csv', dtype={'fipstate': str, 'fipscty': str})
county18_data = pd.read_csv('../data/cbp18co.csv', dtype={'fipstate': str, 'fipscty': str})

In [75]:
#check that fipstate and fipscty are objects
county22_data.dtypes

fipstate    object
fipscty     object
naics       object
emp_nf      object
emp          int64
qp1_nf      object
qp1          int64
ap_nf       object
ap           int64
est          int64
n<5         object
n5_9        object
n10_19      object
n20_49      object
n50_99      object
n100_249    object
n250_499    object
n500_999    object
n1000       object
n1000_1     object
n1000_2     object
n1000_3     object
n1000_4     object
dtype: object

In [76]:
county19_data.dtypes

fipstate    object
fipscty     object
naics       object
emp_nf      object
emp          int64
qp1_nf      object
qp1          int64
ap_nf       object
ap           int64
est          int64
n<5         object
n5_9        object
n10_19      object
n20_49      object
n50_99      object
n100_249    object
n250_499    object
n500_999    object
n1000       object
n1000_1     object
n1000_2     object
n1000_3     object
n1000_4     object
censtate     int64
cencty       int64
dtype: object

In [77]:
#Make new column of naics sector code (first two digits) 

county22_data['naics_sector'] = county22_data['naics'].apply(lambda x: x[:2])
county21_data['naics_sector'] = county21_data['naics'].apply(lambda x: x[:2])
county20_data['naics_sector'] = county20_data['naics'].apply(lambda x: x[:2])
county19_data['naics_sector'] = county19_data['naics'].apply(lambda x: x[:2])
county18_data['naics_sector'] = county18_data['naics'].apply(lambda x: x[:2])

In [78]:
#check that new column appears 
county22_data.head()

,fipstate,fipscty,naics,emp_nf,emp,qp1_nf,qp1,ap_nf,ap,est,...,n50_99,n100_249,n250_499,n500_999,n1000,n1000_1,n1000_2,n1000_3,n1000_4,naics_sector
0,01,001,------,G,12409,G,117103,G,496158,948,...,33,10,3,N,N,N,N,N,N,--
1,01,001,11----,G,52,G,793,G,3477,10,...,N,N,N,N,N,N,N,N,N,11
2,01,001,113///,H,39,G,686,G,2890,7,...,N,N,N,N,N,N,N,N,N,11
3,01,001,1133//,H,39,G,686,G,2890,7,...,N,N,N,N,N,N,N,N,N,11
4,01,001,11331/,H,39,G,686,G,2890,7,...,N,N,N,N,N,N,N,N,N,11

In [79]:
#Make a new column of FIPS that is fipstate + fipscty

county22_data['FIPS'] = county22_data['fipstate'] + county22_data['fipscty']
county21_data['FIPS'] = county21_data['fipstate'] + county21_data['fipscty']
county20_data['FIPS'] = county20_data['fipstate'] + county20_data['fipscty']
county19_data['FIPS'] = county19_data['fipstate'] + county19_data['fipscty']
county18_data['FIPS'] = county18_data['fipstate'] + county18_data['fipscty']

In [80]:
#check that FIPS column is there
county22_data.head()

,fipstate,fipscty,naics,emp_nf,emp,qp1_nf,qp1,ap_nf,ap,est,...,n100_249,n250_499,n500_999,n1000,n1000_1,n1000_2,n1000_3,n1000_4,naics_sector,FIPS
0,01,001,------,G,12409,G,117103,G,496158,948,...,10,3,N,N,N,N,N,N,--,01001
1,01,001,11----,G,52,G,793,G,3477,10,...,N,N,N,N,N,N,N,N,11,01001
2,01,001,113///,H,39,G,686,G,2890,7,...,N,N,N,N,N,N,N,N,11,01001
3,01,001,1133//,H,39,G,686,G,2890,7,...,N,N,N,N,N,N,N,N,11,01001
4,01,001,11331/,H,39,G,686,G,2890,7,...,N,N,N,N,N,N,N,N,11,01001

In [81]:
#Make dataframe of only NAICS retail code (44, 45) 

retail22 = county22_data[county22_data['naics_sector'].isin(['44', '45'])]
retail21 = county21_data[county21_data['naics_sector'].isin(['44', '45'])]
retail20 = county20_data[county20_data['naics_sector'].isin(['44', '45'])]
retail19 = county19_data[county19_data['naics_sector'].isin(['44', '45'])]
retail18 = county18_data[county18_data['naics_sector'].isin(['44', '45'])]

In [82]:
#Make dataframe of only >20 employees 

small_retail22 = retail22[retail22['emp'] <= 20]
small_retail21 = retail21[retail21['emp'] <= 20]
small_retail20 = retail20[retail20['emp'] <= 20]
small_retail19 = retail19[retail19['emp'] <= 20]
small_retail18 = retail18[retail18['emp'] <= 20]

In [83]:
#import population data 
population_info = pd.read_csv('../data/County_population.csv', dtype={'FIPS': str})

In [84]:
#Merge population info with small retail dataframes for each year 
small_retail_with_population22 = pd.merge(
    small_retail22,
    population_info,
    on='FIPS',
    how = 'left'

)

In [85]:
small_retail_with_population21 = pd.merge(
    small_retail21,
    population_info,
    on='FIPS',
    how = 'left'

)

In [86]:
small_retail_with_population20 = pd.merge(
    small_retail20,
    population_info,
    on='FIPS',
    how = 'left'

)

In [87]:
small_retail_with_population19 = pd.merge(
    small_retail19,
    population_info,
    on='FIPS',
    how = 'left'

)

In [88]:
small_retail_with_population18 = pd.merge(
    small_retail18,
    population_info,
    on='FIPS',
    how = 'left'

)

In [89]:
#Groupby counties (Number of small retail businesses in each county)
county_counts22 = small_retail_with_population22.groupby('FIPS').size()
county_counts21 = small_retail_with_population21.groupby('FIPS').size()
county_counts20 = small_retail_with_population20.groupby('FIPS').size()
county_counts19 = small_retail_with_population19.groupby('FIPS').size()
county_counts18 = small_retail_with_population18.groupby('FIPS').size()

In [90]:
#Export county count csv files to output 
county_counts22.to_csv('../output/county_counts22.csv')
county_counts21.to_csv('../output/county_counts21.csv')
county_counts20.to_csv('../output/county_counts20.csv')
county_counts19.to_csv('../output/county_counts19.csv')
county_counts18.to_csv('../output/county_counts18.csv')

In [91]:
#Groupby rural/urban codes (number of small retail businesses in each population type)
rural_sub_urban22 = small_retail_with_population22.groupby('RUCC_2023').size()
rural_sub_urban21 = small_retail_with_population21.groupby('RUCC_2023').size()
rural_sub_urban20 = small_retail_with_population20.groupby('RUCC_2023').size()
rural_sub_urban18 = small_retail_with_population19.groupby('RUCC_2023').size()
rural_sub_urban19 = small_retail_with_population18.groupby('RUCC_2023').size()

In [92]:
print(rural_sub_urban22)

RUCC_2023
1.0    4331
2.0    3637
3.0    3728
4.0    3397
5.0    1317
6.0    4389
7.0    3156
8.0    2843
9.0    2712
dtype: int64

In [93]:
print(rural_sub_urban19)

RUCC_2023
1.0    4169
2.0    3743
3.0    3583
4.0    3597
5.0    1332
6.0    4956
7.0    3317
8.0    2860
9.0    2699
dtype: int64

In [94]:
#Export rural/suburban counts CSV files to output folder 
rural_sub_urban22.to_csv('../output/rural_sub_urban22.csv')
rural_sub_urban21.to_csv('../output/rural_sub_urban21.csv')
rural_sub_urban20.to_csv('../output/rural_sub_urban20.csv')
rural_sub_urban19.to_csv('../output/rural_sub_urban19.csv')
rural_sub_urban18.to_csv('../output/rural_sub_urban18.csv')

In [95]:
#Groupby state (number of small retail businesses per state) 
state_counts22 = small_retail_with_population22.groupby('fipstate').size()
state_counts21 = small_retail_with_population21.groupby('fipstate').size()
state_counts20 = small_retail_with_population20.groupby('fipstate').size()
state_counts19 = small_retail_with_population19.groupby('fipstate').size()
state_counts18 = small_retail_with_population18.groupby('fipstate').size()

In [96]:
#checks that state counts worked
print(state_counts22)

fipstate
01     754
02     186
04     147
05     705
06     532
08     568
09      92
10      38
11      13
12     624
13    1552
15      70
16     343
17     971
18    1002
19     916
20     694
21    1010
22     547
23     252
24     261
25     133
26    1028
27     913
28     854
29    1054
30     331
31     453
32      87
33     133
34     207
35     316
36     903
37    1356
38     227
39     959
40     796
41     429
42     764
44      92
45     506
46     291
47     888
48    1840
49     225
50     255
51    1328
53     404
54     448
55     849
56     270
dtype: int64

In [97]:
#Export state counts csv files to output folder 

state_counts22.to_csv('../output/state_counts22.csv')
state_counts21.to_csv('../output/state_counts21.csv')
state_counts20.to_csv('../output/state_counts20.csv')
state_counts19.to_csv('../output/state_counts19.csv')
state_counts18.to_csv('../output/state_counts18.csv')